#{extends 'main.html' /}
#{set title:'Liste der offenen Bezirke' /}

<h1>#{get 'title' /}
#{if bezirke}
 für Betreuer ${betreuer}
#{/if}
</h1>

<span class="right web">
#{printlink /}
</span>

#{form @Bezirke.listOffene(), class:'web'}
<fieldset>
    <legend>Parameter</legend>
#{field 'betreuer'}
<label>&{field.name}</label>
#{select 'betreuer', items:betreuerliste, valueProperty:'userid', value:betreuer , labelProperty:'fullname' /}
#{/field}

<input type="submit" id="show" value="Anzeigen" />

</fieldset>
#{/form}

#{if bezirke}

<table border="1">
    <tr>
        <th>Aktionstag</th>
        <th>Bezirk</th>
        <th>Anzahl Würfe</th>
    </tr>
    #{list items:bezirke, as:'bezirk'}
    <tr>
        <td>${bezirk.aktionstag}</td>
        <td>${bezirk.bezirk}</td>
        <td>${bezirk.anzahlWuerfe}</td>
    </tr>
    #{/list}
</table>

<span>${bezirke.size} Einträge</span>

#{/if}
