#{extends 'main.html' /}
#{set title:'Liste der offenen Bezirke' /}

<h1>#{get 'title' /}
#{if bezirke}
 für Betreuer ${betreuer} am ${aktionstag}
#{/if}
</h1>

#{form @Bezirke.listOffene()}
<fieldset>
    <legend>Parameter</legend>
#{field 'betreuer'}
<label>&{field.name}</label>
#{select 'betreuer', items:betreuerliste, valueProperty:'userid', value:betreuer , labelProperty:'fullname' /}
#{/field}

#{if aktionstage}

#{field 'aktionstag'}
<label>&{field.name}</label>
#{select 'aktionstag', items:aktionstage, valueProperty:'datum', value:aktionstag, labelProperty:'fullname' /}
#{/field}

#{/if}

<input type="submit" value="Anzeigen" />
</fieldset>
#{/form}

#{if bezirke}

<table border="1">
    <tr>
        <th>Betreuer</th>
        <th>Aktionstag</th>
        <th>Bezirk</th>
        <th>Anzahl Würfe</th>
    </tr>
    #{list items:bezirke, as:'bezirk'}
    <tr>
        <td>${bezirk.betreuer}</td>
        <td>${bezirk.aktionstag}</td>
        <td>${bezirk.bezirk}</td>
        <td>${bezirk.anzahlWuerfe}</td>
    </tr>
    #{/list}
</table>

#{/if}
