body {
    font-family: Sans-serif;
}

div#header {
    font-size: smaller;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: .2em;
    padding-bottom: .2em;
}

div#header span.right {
    float: right;
}

div#footer {
    font-size: smaller;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: .5em;
}

div#footer span.right {
    float: right;
}

.print {
    display:none;
}

h1 {
    font-size: x-large;
    margin-top: .2em;
    margin-bottom: .2em;
}

p {
    margin-top: .1em;
}

div.functions h3 {
    font-size: medium;
}

div.functions ul {
    font-size: medium;
    margin-top: .2em;
    margin-bottom: .4em;
    list-style-type: square;
}

table td.number {
    text-align: right;
}

table tr.einstellungsverbot {
    background-color: red;
}
