body {
    font-family: Sans-serif;
}

div#header {
    font-size: smaller;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: .2em;
    padding-bottom: .2em;
}

div#header span.right {
    float: right;
}

div#footer {
    font-size: smaller;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    padding-top: .2em;
    padding-bottom: .2em;
    margin-top: .5em;
}

div#footer span.right {
    float: right;
}

.web {
    display:none;
}

h1 {
    font-size: large;
    margin-top: .2em;
    margin-bottom: .2em;
}

table {
    width: 100%;
}

p {
    margin-top: .1em;
}

div.functions {
    border: 1px solid grey;
    margin: .5em 1em .5em 1em;
}

div.functions h2 {
    font-size: large;
    margin-top: .4em;
    margin-left: .5em;
    margin-bottom: .2em;
}

div.subfunctions {
    border: 1px solid grey;
    margin-top: .2em;
    margin: .5em;
}

div.subfunctions h3 {
    font-size: medium;
    margin-top: .3em;
    margin-left: .5em;
    margin-bottom: .2em;
}

div.subfunctions ul {
    margin-top: .2em;
    margin-bottom: .4em;
    list-style-type: square;
}