#{extends 'main.html' /}
#{set title:'Zentrale Zustellersuche' /}

<h1>#{get 'title' /}</h1>

#{form @Zusteller.suche(), class:'web'}
<fieldset>
    <legend>Parameter</legend>
#{field 'q'}
<label>&{field.name}</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" placeholder="Nachname oder Vorname" autofocus />
#{/field}
<input type="submit" id="show" value="Anzeigen" />
</fieldset>
#{/form}

#{if zustellerliste}

<table border="1">
    <tr>
        <th><span title="Status: Aktiv/Inaktiv/Einstellungsverbot">S</span></th>
        <th>PersonalNr</th>
        <th>Zusteller</th>
        <th><span title="Geschlecht">G</span></th>
        <th>Wohnort</th>
        <th>Geburtsdatum</th>
        <th>Betreuer</th>
        <th>Eintritt</th>
        <th>Austritt</th>
        <th>Info</th>
    </tr>
    #{list items:zustellerliste, as:'zusteller'}
    #{if zusteller.einstellungsverbot == 'Y'}
    <tr class="einstellungsverbot">
    #{/if}
    #{else}
    <tr>
    #{/else}

        #{if zusteller.einstellungsverbot == 'Y'}
        <td><img src="@{'public/images/einstellungsverbot.png'}" title="Einstellungsverbot" height="16" width="16"/></td>
        #{/if}
        #{elseif zusteller.aktiv == 'Y'}
        <td><img src="@{'public/images/active.png'}" title="aktiv" height="16" width="16"/></td>
        #{/elseif}
        #{elseif zusteller.aktiv == 'N'}
        <td><img src="@{'public/images/inactive.png'}" title="inaktiv" height="16" width="16"/></td>
        #{/elseif}

        <td>${zusteller.personalnr}</td>
        <td><a href="@{Zusteller.getZusteller(zusteller.id)}" title="Details zum Zusteller anzeigen">${zusteller}</a></td>

        #{if zusteller.geschlecht == 'M'}
        <td><img src="@{'public/images/male.png'}" title="männlich" height="16" width="16"/></td>
        #{/if}
        #{elseif zusteller.geschlecht == 'W'}
        <td><img src="@{'public/images/female.png'}" title="weiblich" height="16" width="16"/></td>
        #{/elseif}
        #{else}
        <td><img src="@{'public/images/not-known.png'}" title="unbekannt" height="16" width="16"/></td>
        #{/else}

        <td>${zusteller.hauptort}</td>



        <td>${zusteller.geburtsdatum}</td>
        <td>${zusteller.betreuer}</td>
        <td>${zusteller.eintritt}</td>
        <td>${zusteller.austritt}</td>
        <td>
         #{if zusteller.einstellungsverbot == 'Y'}
         <img src="@{'/public/images/icon_stop_hand.gif'}" title="Zusteller hat Einstellungsverbot" height="20" width="20" />
         #{/if}
        </td>
    </tr>
    #{/list}
</table>

<span>${zustellerliste.size} Einträge</span>

#{/if}

