#{extends 'main.html' /}
#{set title:'Erweiterte Funktionen' /}
#{set 'moreStyles'}
#{stylesheet 'jquery-ui-1.8.11.custom.css' /}
#{/set}
#{set 'moreScripts'}
#{script 'jquery-ui-1.8.11.custom.min.js' /}
#{/set}

<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
    $(function() {
        $( "#accordion" ).accordion({ autoHeight: false });
    });
</script>

<h1>&{'app.title'}</h1>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Alle</a></li>
        <li><a href="#tabs-2">Meine letzten</a></li>
        <li><a href="#tabs-3">Meine häufigsten</a></li>
        <li><a href="#tabs-4">Alle häufigsten</a></li>
    </ul>

<div id="tabs-1">
<div class="functions" id="accordion">
    <h3><a href="#">Zusteller</a></h3>
    <div>
        <ul>
            <li>Ausgetretene Zusteller im Abrechnungsmonat</li>
            <li>Liste aller aktiven Zusteller nach Betreuer</li>
            <li>Personenkreise</li>
            <li><a href="@{Zusteller.index()}">Zentrale Zusteller-Suche</a></li>
            <li>Zuordnungen mit Zulage</li>
            <li>Zusteller-Arbeitstage</li>
            <li>Zusteller mit aktueller Bankverbindung</li>
            <li>Zusteller mit Datumseinträgen</li>
            <li>Zusteller mit Eintritt/Austritt im Zeitraum</li>
            <li><a href="@{ZustellerdatenTestlauf.index()}">Zustellerdaten-Testlauf</a></li>
            <li>Zustellerliste</li>
            <li><a href="@{Ersatzzusteller.index()}">Liste aller Ersatzzusteller (mit Bezirk)</a></li>
            <li><a href="@{Ersatzzusteller.ohneBezirk()}">Liste aller Ersatzzusteller (ohne Bezirk)</a></li>
        </ul>
    </div>
    <h3><a href="#">Bezirk</a></h3>
    <div>
        <ul>
            <li>Bezirke mit unregelmäßiger Verteilung</li>
            <li>Bezirke mit Wurfanzahl auf Touren je Aktionstag</li>
            <li>Bezirksliste</li>
            <li><a href="@{Bezirke.listOffene()}">Liste offener Bezirke</a></li>
        </ul>
    </div>
    <h3><a href="#">Logistik</a></h3>
    <div>
        <ul>
            <li>Gesamtaddition (nur eigene Mengen)</li>
            <li>Objekte auf Touren</li>
            <li>Tourendefinition: doppelt vergebene Pos-Nr.n</li>
            <li>Tourenpositionen verschmelzen</li>
        </ul>
    </div>
    <h3><a href="#">BRD</a></h3>
    <div>
        <ul>
            <li><a href="@{HaushaltszahlenNachPLZ.index()}">Haushaltszahlen nach PLZ</a></li>
        </ul>
    </div>
    <h3><a href="#">Zustellerabrechnung</a></h3>
    <div>
        <ul>
            <li>Manuelle Buchungssätze</li>
        </ul>
    </div>
    <h3><a href="#">Dokumentendruck</a></h3>
    <div>
        <ul>
        </ul>
    </div>
    <h3><a href="#">Straßenliste</a></h3>
    <div></div>
    <h3><a href="#">andere</a></h3>
    <div>
        <ul>
            <li><a href="@{Application.funktionen()}">Funktionsübersicht</a></li>

            <li><a href="@{Betreuer.list()}">Liste der Betreuer</a></li>
            <li><a href="@{Application.connectedUsers()}">Angemeldete Benutzer anzeigen</a></li>
            <li><a href="@{Application.dbversion()}">Datenbank-Version anzeigen</a></li>

        </ul>
    </div>
</div>
</div>

    <div id="tabs-2">

        <div id="container" class="ui-widget-content ui-corner-all">
            <h3 class="ui-widget-header ui-corner-all">Die zuletzt von mir aufgerufenen Funktionen</h3>

            <ul>
                <li>eins</li>
                <li>zwei</li>
                <li>drei</li>
            </ul>

        </div>

    </div>

    <div id="tabs-3">

        <div id="container" class="ui-widget-content ui-corner-all">
            <h3 class="ui-widget-header ui-corner-all">Die am häufigsten von mir aufgerufenen Funktionen</h3>

            <ul>
                <li>eins</li>
                <li>zwei</li>
                <li>drei</li>
            </ul>

        </div>

    </div>

    <div id="tabs-4">

        <div id="container" class="ui-widget-content ui-corner-all">
            <h3 class="ui-widget-header ui-corner-all">Von allen Benutzern am häufigsten aufgerufenen Funktionen</h3>

            <ul>
                <li>eins</li>
                <li>zwei</li>
                <li>drei</li>
            </ul>

        </div>

    </div>

</div>