<!DOCTYPE html>

<html>
<head>
    <title>#{get 'title' /}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
    <link rel="stylesheet" type="text/css" media="print" href="@{'/public/stylesheets/print.css'}">
    #{get 'moreStyles' /}
    <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
    #{get 'moreScripts' /}
</head>
<body>
<div id="header">
    <span class="web">
        <a href="@{Application.index}" title="&{'start.pagetitle.tooltip'}">&{'start.pagetitle'}</a>
    </span>


    <span class="right web">
    #{if session.username}
        &{'session.loggedInAs'}
        <a href="@{Application.profil()}" title="&{'session.username.tooltip'}">${session.username}</a> |
            <a href="@{Secure.logout()}" title="&{'session.logout.tooltip'}">&{'session.logout'}</a>

    #{/if}
    </span>


    <div class="print">
        &{'session.loggedInAsPrint', session.username}
        </div>

</div>

#{doLayout /}
<div id="footer">
    <span class="web">
    <a href="@{Application.index}" title="&{'start.pagetitle.tooltip'}">&{'start.pagetitle'}</a>
    </span>
    <span class="print">@{Bezirke.listOffene()}</span>
    <span class="right">#{version /}</span>
</div>
</body>
</html>
